
.vs/WindowsProject1/v16/ipch/AutoPCH/5a3c0513293defbe/KING.ipch
.vs/WindowsProject1/v16/ipch/AutoPCH/41f351c6e992c596/SECTOR.ipch
.vs/WindowsProject1/v16/ipch/AutoPCH/607dc74c2db2407a/BOARD.ipch
.vs/WindowsProject1/v16/ipch/AutoPCH/6b6f335f2a60fd7/WINDOWSPROJECT1.ipch
.vs/WindowsProject1/v16/ipch/AutoPCH/ade424fec99c64fa/PAWN.ipch
.vs/WindowsProject1/v16/ipch/AutoPCH/e3fd511f38ed66ab/KING.ipch
x64/Debug/Board.obj
x64/Debug/King.obj
x64/Debug/Sector.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/WindowsProject1.exe
x64/Debug/WindowsProject1.exe.recipe
x64/Debug/WindowsProject1.ilk
x64/Debug/WindowsProject1.log
x64/Debug/WindowsProject1.obj
x64/Debug/WindowsProject1.pdb
x64/Debug/WindowsProject1.res
x64/Debug/WindowsProject1.tlog/CL.command.1.tlog
x64/Debug/WindowsProject1.tlog/CL.read.1.tlog
x64/Debug/WindowsProject1.tlog/CL.write.1.tlog
x64/Debug/WindowsProject1.tlog/link.command.1.tlog
x64/Debug/WindowsProject1.tlog/link.read.1.tlog
x64/Debug/WindowsProject1.tlog/link.write.1.tlog
x64/Debug/WindowsProject1.tlog/rc.command.1.tlog
x64/Debug/WindowsProject1.tlog/rc.read.1.tlog
x64/Debug/WindowsProject1.tlog/rc.write.1.tlog
x64/Debug/WindowsProject1.tlog/WindowsProject1.lastbuildstate
x64/Debug/WindowsProject1.vcxproj.FileListAbsolute.txt
.vs/WindowsProject1/v16/.suo
.vs/WindowsProject1/v16/Browse.VC.db
.vs/WindowsProject1/v16/Browse.VC.db-shm
.vs/WindowsProject1/v16/Browse.VC.db-wal
.vs/WindowsProject1/v16/Browse.VC.opendb
